pipeline/01-LoadData.json
{
	"name": "01-LoadData",
	"properties": {
		"activities": [
			{
				"name": "GetTableList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT SCHEMA_NAME(schema_id) as SchemaName, name as TableName FROM sys.tables",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GenericSqlDataSet",
						"type": "DatasetReference",
						"parameters": {
							"sqlServerName": {
								"value": "@pipeline().parameters.ParmSqlServerName",
								"type": "Expression"
							},
							"sqlDatabaseName": {
								"value": "@pipeline().parameters.ParmSqlDatabaseName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableList').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyData-to-DataLake",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "GenericSqlDataSet",
									"type": "DatasetReference",
									"parameters": {
										"sqlServerName": {
											"value": "@pipeline().parameters.ParmSqlServerName",
											"type": "Expression"
										},
										"sqlDatabaseName": {
											"value": "@pipeline().parameters.ParmSqlDatabaseName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OutputParquetFile",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.ParmContainer",
											"type": "Expression"
										},
										"path": {
											"value": "@concat(pipeline().parameters.ParmSqlDatabaseName,'/',item().SchemaName,'/', item().TableName)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ParmContainer": {
				"type": "string",
				"defaultValue": "synapsedemofilesystem"
			},
			"ParmSqlServerName": {
				"type": "string",
				"defaultValue": "sql-synapse-demo.database.windows.net"
			},
			"ParmSqlDatabaseName": {
				"type": "string",
				"defaultValue": "sqldb-synapse-demo"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-11T15:39:13Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}